{% extends "base.html" %}
{% block title %}Tweet - {{ object.user }}{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-sm-3">
            {% include 'users/user_info.html' with user=object.user showFollowToggle=True is_following=is_following %}
        </div>
        <div class="col-sm-9">
            <p id="tweet-display"></p>
            <p>{{ object.created_at | timesince }} ago</p>
            {% if request.user == object.user %}
                <a class="btn btn-default" href="{% url 'tweets:update' pk=object.id %}">Edit</a>
            {% endif %}
        </div>
    </div>
    <span id="tweet-content" style="display: none;">{{ object.content }}</span>
{% endblock %}
{% block script %}
{{ block.super }}
<script>
    $(document).ready(function () {
        // use `$('#tweet-content').text()` instead of outputting object.content directly to prevent syntax error // CURIOUS why syntax error happened?
        var tweetContent = $('#tweet-content').text().replace(/(?:\r\n|\r|\n)/g, '<br />'); // replace all "\n"s with "<br />"s
        $('#tweet-display').append(tweetContent);

        $('.follow-toggle').click(function () {
            {% if request.user.is_authenticated %}
                toggleFollow('{% url "user-api:follow-toggle" username=object.user.username %}');
            {% else %}
                window.location.href = '{% url 'login' %}';
            {% endif %}
        });
    });
</script>
{% endblock %}
