{% extends "base.html" %}
{% block title %}Tweetme{% endblock %}
{% block content %}
<div class="row">
    <div class="col-sm-3">
        {% if request.user.is_authenticated %}
            {% include 'users/user_info.html' with user=request.user showFollowToggle=False %}
        {% else %}
            <h3><span class="label label-default">Who to follow</span></h3>
            {% for user in users %}
                {% include 'users/user_info.html' with user=user showFollowToggle=True %}
            {% endfor %}
        {% endif %}
    </div>
    <div class="col-sm-9">
        {% if not request.GET.q %}
            <div class="row">
                {% include 'tweet_form.html' with form=create_form action_url=create_url btn_title='Tweet' form_id='tweet-form' %}
            </div>
            <hr />
        {% endif %}
        <div id="tweet-container">
            <h4>Loading...</h4>
        </div>
        <button id="loadMore" class="btn btn-info" style="display: none;">Load More</button>
    </div>
</div>
{% endblock %}
{% block script %}
{{ block.super }}
<style>
    #tweetCharsLeft {
        margin-left: 10px;
    }
    .grey-color {
        color: darkgray;
    }
    .red-color {
        color: red;
    }
</style>
<script>
    /**
     * change color and the count number of how many chars left
     * color: chars left < 0 -> red
     *                   = 0 -> gray
     *                   > 0 -> black(original color)
     * @param content - tweet content
     * @param charCountLeft
     */
    function setUpTweetCharsLeft(content, charCountLeft) {
        var charsLeftSpan = $('#tweetCharsLeft');
        charsLeftSpan.text(charCountLeft);
        if (charCountLeft == 0) {
            charsLeftSpan.removeClass('red-color');
            charsLeftSpan.addClass('grey-color');
        } else if (charCountLeft < 0) {
            charsLeftSpan.removeClass('grey-color');
            charsLeftSpan.addClass('red-color');
        } else {
            charsLeftSpan.removeClass('grey-color');
            charsLeftSpan.removeClass('red-color');
        }
    }

    $(document).ready(function() {
        var tweetForm = $('#tweet-form');

        var tweetCharsLimit = 140;
        var charCountLeft = 140;
        tweetForm.append("<span id='tweetCharsLeft'>" + charCountLeft + "</span><span> Left</span>");
        var textArea = tweetForm.find('textarea')[0];
        tweetForm.keyup(function (event) {
            var content = $(textArea).val();
            charCountLeft = tweetCharsLimit - content.length;
            setUpTweetCharsLeft(content, charCountLeft);
        });

        var loadTweets = getLoadTweets('{% url "tweet-api:list" %}');
        tweetForm.submit(function (event) {
            event.preventDefault();
            if (charCountLeft < 0) {
                // TODO show error message of tweet too long
                return;
            }
            $.ajax({
                'url': '/api/tweets/create/',
                'method': 'POST',
                'data': $(this).serialize(),
                'success': function (data) {
                    loadTweets(true);
                    $('#tweetCharsLeft').text(tweetCharsLimit);  // reset it
                },
                'error': function (data) {
                    console.log('error:');
                    console.log(data);
                }
            });
        });

        {% if request.GET.q %}
            loadTweets(true, '{{ request.GET.q }}');
        {% else %}
            loadTweets(true);
        {% endif %}

        $('#loadMore').click(function (event) {
            event.preventDefault();
            loadTweets(false);
        });

        // if not logged in, user will see the toggles
        $('#follow-toggle').click(function () {
            window.location.href = '{% url 'login' %}';
        });
    });
</script>
{% endblock %}

