{% extends "base.html" %}
{% block title %}Tweet List{% endblock %}
{% block script %}
<style>
    #tweetCharsLeft {
        margin-left: 10px;
    }
    .grey-color {
        color: darkgray;
    }
    .red-color {
        color: red;
    }
</style>
<script>
    function clearForm(formId) {
        $(':input','#' + formId)
          .not(':button, :submit, :reset, :hidden')
          .val('')
          .removeAttr('checked')
          .removeAttr('selected');
    }

    /**
     * @return function to load tweets which takes a boolean argument: reload
     */
    function getLoadTweets() {
        var tweetsUrl = '/api/tweets/';

        return function (reload) {
            if (reload) tweetsUrl = '/api/tweets/';
            $.ajax({
                'url': tweetsUrl,
                'method': 'GET',
                'success': function (data) {
                    tweetsUrl = data.next;
                    var tweets = data.results;
                    // toggle load more link
                    if (!tweetsUrl || tweets.length == data.count) $('#loadMore').css('display', 'none');
                    else $('#loadMore').css('display', '');

                    clearForm('tweet-form');
                    if (reload) $('#tweet-container').empty();
                    $.each(tweets, function (key, tweet) {
                        var tweetContent = tweet.content;
                        var tweetUser = tweet.user;
                        $('#tweet-container').append(
                            "<div class=\"media\">" +
                                "<div class=\"media-body\">" +
                                    tweetContent + "<br />" +
                                    "via " + "<a href='" + tweetUser.url + "'>" + tweetUser.username + "</a> | " + tweet.time_since + " ago" + " | " + "<a href='" + tweet.url + "'>View</a>" + "<br />" +
                                "</div>" +
                            "</div>" +
                            "<hr />"
                        );
                    });
                },
                'error': function (data) {
                    console.log('error:');
                    console.log(data);
                }
            });
        };
    }

    /**
     * change color and the count number of how many chars left
     * color: chars left < 0 -> red
     *                   = 0 -> gray
     *                   > 0 -> black(original color)
     * @param content - tweet content
     * @param charCountLeft
     */
    function setUpTweetCharsLeft(content, charCountLeft) {
        var charsLeftSpan = $('#tweetCharsLeft');
        charsLeftSpan.text(charCountLeft);
        if (charCountLeft == 0) {
            charsLeftSpan.removeClass('red-color');
            charsLeftSpan.addClass('grey-color');
        } else if (charCountLeft < 0) {
            charsLeftSpan.removeClass('grey-color');
            charsLeftSpan.addClass('red-color');
        } else {
            charsLeftSpan.removeClass('grey-color');
            charsLeftSpan.removeClass('red-color');
        }
    }

    $(document).ready(function() {
        var tweetForm = $('#tweet-form');

        var tweetCharsLimit = 140;
        var charCountLeft = 140;
        tweetForm.append("<span id='tweetCharsLeft'>" + charCountLeft + "</span><span> Left</span>");
        var textArea = tweetForm.find('textarea')[0];
        tweetForm.keyup(function (event) {
            var content = $(textArea).val();
            charCountLeft = tweetCharsLimit - content.length;
            setUpTweetCharsLeft(content, charCountLeft);
        });

        var loadTweets = getLoadTweets();
        tweetForm.submit(function (event) {
            event.preventDefault();
            if (charCountLeft < 0) {
                // TODO show error message of tweet too long
                return;
            }
            $.ajax({
                'url': '/api/tweets/create/',
                'method': 'POST',
                'data': $(this).serialize(),
                'success': function (data) {
                    loadTweets(true);
                    $('#tweetCharsLeft').text(tweetCharsLimit);  // reset it
                },
                'error': function (data) {
                    console.log('error:');
                    console.log(data);
                }
            });
        });

        $('#loadMore').click(function (event) {
            event.preventDefault();
            loadTweets(false);
        });
    });
</script>
{% endblock %}
{% block content %}
<div class="row">
    <div class="col-sm-3">
        <h1>{{ request.user }}</h1>
    </div>
    <div class="col-sm-9">
        {% if not request.GET.q %}
            <div class="row">
                {% include 'tweet_form.html' with form=create_form action_url=create_url btn_title='Tweet' form_id='tweet-form' %}
            </div>
            <hr />
        {% endif %}
        <div id="tweet-container">
            <!-- the initial tweet list rendering and search results -->
            {% include 'tweet_list.html' with tweets=object_list %}
        </div>
        <a href="#" id="loadMore" style="display: none">Load More Tweets</a>
    </div>
</div>
{% endblock %}
